<section class="page-section">
  <header class="page-header">
    <h2 class="heading page-heading"><%= @target_health_attr_rating.name %></h2>
    <%= link_to 'Edit', edit_target_health_attribute_rating_path(@target_health_attr_rating), class: 'navigation' %>
  </header>
</section>