<section class="page-section">
  <h2 class="heading page-heading"><%= @target_health_attr_rating.name %></h2>

  <div class="form-footer">
    <%= link_to("Back to #{@target.name} Target", target_path(@target), class: 'navigation') %>
  </div>
</section>