<aside class="hints">
  <section class="hint">
    <h3>Start with Ecosystem Targets</h3>
    <p>
      Use a “coarse-filter/ fine-filter” approach to identifying conservation targets. First, focus on the selection of
      ecological systems or communities. These act as the "coarse-filter" that capture most species of special interest.
      If you conserve the ecosystems at your area, you will conserve these species at your area. (Species of special
      interest will be listed later as “Nested Targets.”).
      Then, teams may need to add species with unique ecological requirements or threats that are not already reflected
      by the ecological systems in which they are embedded. These are considered “fine-filter” targets with special
      conservation needs that go beyond conserving the ecosystem.
    </p>
  </section>
  <section class="hint">
    <h3>Lumping vs. Splitting Targets</h3>
    <p>
      When in doubt, lump co-occurring targets. It’s easy enough to split out the targets later if needed. Examples:
      rare fish assemblage; longleaf pine woodland and associated communities.
    </p>
  </section>
  <section class="hint">
    <h3>Migratory Species as Targets</h3>
    <p>
      If migratory birds, fish or other animal species are selected as targets, the life-stage of the species at the
      project area should be explicitly identified as the target. A project team cannot be responsible for conserving a
      species across its range, but rather only for that part of the species life cycle when it resides in the
      project area. Turbo-CAP also suggests that project teams make the habitat the target rather than the species
      itself – e.g. Mule deer wintering habitat instead over Over-wintering mule deer.
    </p>
  </section>
  <section class="hint">
    <h3>Keystone Species</h3>
    <p>
      “Keystone” species are species that drive major ecological processes; if it were removed the ecosystem would
      change dramatically. Keystone species may be “apex predators” (e.g., wolves in Yellowstone, major herbivores
      (e.g., elephants in African savanna), or filters (e.g., oysters in Chesapeake Bay).
    </p>
  </section>
  <section class="hint">
    <h3>Umbrella Species and Focal Species</h3>
    <p>
      An “umbrella” species is a species that has habitat needs which reflect the needs of many other species in the
      area, and as such is selected to represent many species, or even an ecosystem. For example, the greater sage
      grouse is often considered an umbrella species for its associated sagebrush ecosystems – i.e., if the sage grouse
      population is healthy in an area, its ecosystems are most likely to be healthy (but perhaps not some other
      sagebrush obligate species that have special requirements). Similarly, “focal” species involves choosing a
      suite of species within a landscape whose functional requirements collectively encompass those of most other
      species in the landscape. turboCAP recommends caution - there is some scientific debate on using umbrella species
      and focal species for conservation planning.
    </p>
  </section>
</aside>