<section class="page-section">
  <header class="page-header">
    <h2 class="heading page-heading"><%= @target.name %></h2>
    <%= link_to('Edit', edit_target_path(@target), class: 'navigation') %>
  </header>
  <%= render partial: 'health_assessments/index', locals: {health_assessments: @target.health_assessments}%>
</section>
