<section class="next-event page-section">
  <div class="date">
    <div class="month">Aug</div>
    18
  </div>
  <div class="details">
    <h2 class="heading has-sidelines">Next Meeting</h2>
    <p>Teleconference at 3pm CST <a href="">[more info]</a></p>
  </div>
</section>
<section class="page-section" >
  <%= render partial: 'tasks/index' %>
</section>
