<section class="page-section">
  <header class="page-header">
    <h2 class="heading page-heading">Upcoming Events</h2>
  </header>
  <div class="next-event">
    <div class="date">
      <div class="month">Aug</div>
      18
    </div>
    <div class="details">
      <h3 class="heading has-sidelines">Next Meeting</h3>
      <p>Teleconference at 3pm CST <a href="">[more info]</a></p>
    </div>
  </div>
</section>
<section class="page-section" >
  <%= render partial: 'tasks/index' %>
</section>
