
.page-section {
  width: 90%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-header {
  display: flex;
  align-items: center;

  .page-heading {
    display: inline-block;
    margin-right: 1rem;
  }
}

.alert {
  margin: 0 2.5rem;
  max-width: 50rem;
  padding: 1rem;
  font-weight: 500;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.alert-header {
  font-weight: 600;
}

.alert-icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.alert-notice {
  background-color: $color-success-background;
  color: #2A5A2D;
}

.alert-error {
  background-color: $color-error-background;
  color: $color-error;
}

.alert-msg-list {
  list-style: outside circle;
  margin: 0;
}

