.page-section {
  width: 90%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-header {
  display: flex;
  align-items: center;

  .page-heading {
    display: inline-block;
    margin-right: 1rem;
  }
}

