@import "mixins";
.project-view {
  header {
  }
  main {
    padding: 32px 16px;
  }
  section {
    &.next-event {
      align-items: center;
      display: flex;
      .heading,
      .details p {
        margin: 0;
      }
      .date {
        border: 3px solid $color-mustard;
        border-radius: 8px;
        margin-right: 12px;
        text-align: center;
        width: 60px;
        .month {
          background: $color-mustard;
          padding: 6px;
          text-transform: uppercase;
        }
      }
      .heading {
        @include rem(font-size, 15px);
      }
    }
    &.tasks {
    }
    &.files {
    }
    &.status-sidebar {
      background: $color-thyme;
      &,
      a {
        color: $color-offwhite;
      }
      .status-key {
        li {
          a {
            display: block;
            @include rem(font-size, 22px);
            padding: 12px 8px;
            text-align: center;
            text-decoration: none;
          }
          span {
            font-family: $font-display;
            @include rem(font-size, 15px);
            font-style: italic;
            font-weight: 300;
            letter-spacing: 1px;
            text-transform: lowercase;
          }
          em {
            font-style: normal;
            &.has-sidelines {
              &:before, &:after {
                margin-top: -22px;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: 680px) {
    display: flex;
    main {
      width: 100%;
    }
    .status-sidebar {
      margin-left: 16px;
      min-width: 30%;
      max-width: 400px;
    }
  }
}
