<section class="page-section">
  <header class="page-header">
    <h2 class="heading page-heading"><%= @health_assessment.name %></h2>
    <%= link_to 'Edit', edit_health_assessment_path(@health_assessment), class: 'navigation' %>
  </header>
</section>