.index-table {
  display: table;
  border-spacing: 0;

  th, td {
    border-collapse: collapse;
    padding: 1rem 1rem;
    text-align: start;
  }
}

td.icon {
  font-size: 1.7rem;
  padding-right: 0;
}

