.index-table {
  margin-bottom: 2rem;
  display: table;
  border-spacing: 0;

  a {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 1rem .5rem;
  }

  th, td {
    border-bottom: 1px solid #a6a6a6;
    border-collapse: collapse;
    padding: 1rem 1rem;
  }
}

