// WEBFONTS
$font-slab: 'Zilla Slab', serif;
$font-sans: 'Lato', sans-serif;

$font-base: $font-sans;
$font-display: $font-slab;

// COLOR PALETTE
$color-thyme: #476144;
$color-sage: #668063;
$color-mustard: #dde2a4;
$color-slate: #535358;
$color-cranberry: #700606;
$color-tangerine: #cc5104;
$color-lemon: #f2c641;

$color-offwhite: #fcfcf7;
// $color-offwhite: #fcfcfc;
$color-offblack: darken($color-slate, 10%);

$color-primary: $color-sage;
$color-secondary: $color-mustard;
$color-warn: $color-cranberry;
$color-alert: $color-tangerine;
$color-notice: $color-lemon;
