// WEBFONTS
$font-slab: 'Zilla Slab', serif;
$font-sans: 'Lato', sans-serif;

$font-base: $font-sans;
$font-display: $font-slab;
$font-color: #3a3a3a;

// COLOR PALETTE
$color-thyme: #476144;
$color-sage: #668063;
$color-mustard: #dde2a4;
$color-slate: #535358;
$color-cranberry: #700606;
$color-tangerine: #cc5104;
$color-lemon: #f2c641;
$color-indigo: #3949ab;

$color-offwhite: #fcfcf7;
$color-offblack: darken($color-slate, 10%);

$color-primary: $color-thyme;
$color-secondary: $color-mustard;
$color-primary-action: $color-indigo;
$color-warn: $color-cranberry;
$color-alert: $color-tangerine;
$color-notice: $color-lemon;

$page-side-margin: 2.5rem;
