// WEBFONTS
$font-slab: 'Zilla Slab', serif;
$font-sans: 'Lato', sans-serif;

$font-base: $font-sans;
$font-display: $font-slab;
$font-color: #3a3a3a;
$font-color-lighter: #535358;
$font-color-light: #fff;
$app-background-color: #fcfcf7;

$color-primary: #00695c;
$color-secondary: #dde2a4;
$color-primary-action: #3949ab;
$color-error: #8C2420;
$color-error-background: #FCD9D8;
$color-success-background: #DCEFDD;
$color-success: #2A5A2D;

$page-padding: 2.5rem;
$page-min-width: 70rem;
$page-max-with: 80rem;

