<div class="site-wrapper project-view">
  <main>
    <%= yield %>
  </main>
  <aside class="status-sidebar">
    <header class="sidebar-header">
      <div class="project-image" aria-hidden="true"></div>
      <h1 class="heading project-heading">
        <%= link_to @project.name, project_url(@project), class: 'heading' %>
      </h1>
    </header>
    <ol class="list-reset status-key">
      <li class="completed">
        <%= link_to(project_targets_url(@project)) do %>
          <span>Capture</span> <em class="has-sidelines">Targets</em>
        <% end %>
      </li>
      <li class="completed"><a href=""><span>Describe</span> <em class="has-sidelines">Target Health</em></a></li>
      <li class="current"><a href=""><span>Identify</span> <em class="has-sidelines">Threats</em></a></li>
      <li><a href=""><span>Develop</span> <em class="has-sidelines">Strategies</em></a></li>
      <li><a href=""><span>Complete</span> <em class="has-sidelines">Assessment</em></a></li>
    </ol>
  </aside>
</div>