<div class="site-wrapper project-view">
  <aside class="status-sidebar">
    <header class="sidebar-header">
      <div class="project-image" aria-hidden="true"></div>
      <h1 class="project-heading">
        <%= link_to @project.name, project_url(@project), class: 'project-heading-link' %>
      </h1>
      <%= link_to 'Edit Project', edit_project_path(@project),
                  class: 'navigation',
                  id: "edit-project-#{  @project.id}",
                  'aria-label' => "edit project #{@project.name}"%>
    </header>
    <div class="next-event">
      <div class="date">
        <div class="month">Aug</div>
        18
      </div>
      <div class="event-details">
        <h3 class="heading has-sidelines">Next Meeting</h3>
        Teleconference at 3pm CST
        <a href="">[more info]</a>
      </div>
    </div>
  </aside>
  <main>
    <nav class="nav-bar">
      <%= link_to(project_targets_url(@project), class: target_tab?) do %>
        <span>Capture</span> <em>Targets</em>
      <% end %>
      <a href=""><span>Describe</span> <em>Target Health</em></a>
      <a href=""><span>Identify</span> <em>Threats</em></a>
      <a href=""><span>Develop</span> <em>Strategies</em></a>
      <a href=""><span>Complete</span> <em>Assessment</em></a>
    </nav>
    <%= yield %>
  </main>
</div>